@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  @font-face {
    font-family: Product sans;
    font-weight: 500;
    src: url(/assets/fonts/ProductSans-Regular.ttf) format("ttf");
  }
}
